body{
    background-color: blue;
}
header{
    background-color: orange;
    color: navy;
    text-align: center;
    max-width: 800px;
    margin: 20 auto;
    padding: 15px;
}
main{
display:flex;
max-width: 800px;
margin: 20 px;
}
article{
background-color: black;
color: darkmagenta;
text-align: justify;

}